<div>
  <video autoplay muted loop playsinline width="100%">
  <source src="images/video.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>
<div>
    <section class="about-section">

  <p class="tagline">
    A CHRIST-CENTERED CHURCH IN VIJAYAWADA
  </p>

  <div class="main-headings">
    Christ-Centered, Spirit-Led and <br />
    Community-Driven.
  </div>

  <div class="sub-heading">
    Three Powerful Sunday Worship Services
  </div>

  <!-- Service Boxes -->
  <div class="services">
    <div class="service-card">
      <span>First service</span>
      <strong>&#64; 8:00am</strong>
    </div>

    <div class="service-card">
      <span>Second Service</span>
      <strong>&#64; 10:30pm</strong>
    </div>

    <div class="service-card">
      <span>Third Service</span>
      <strong>&#64; 6:30pm</strong>
    </div>
  </div>

  <!-- Description -->
  <p class="desc">
    At Messiah Fellowship, our desire is to see lives transformed through the saving knowledge of Jesus Christ.
    We are committed to loving God, loving people, and building strong families rooted in faith and truth.
  </p>

  <p class="desc">
    We are a welcoming community where prayer is central, the Word of God is honored, and the Holy Spirit leads.
    Our heart is to nurture spiritual growth and raise disciples who reflect Christ in their homes, workplaces, and society.
  </p>

  <p class="desc">
    As a church family, we believe every person matters and every life has purpose in God.
  </p>

  <!-- Button -->
  <button class="cta-btn">
    FIND OUT MORE
  </button>

</section>
</div>

<div class="pastors-section">

  <!-- TOP SECTION -->
  <div class="pastor-row">
    <div class="pastor-image-1">
      <img src="images/pastors-couple.png" alt="Pastors" >
    </div>

    <div class="pastor-content">
      <div class="our-pastor">OUR PASTORS</div><br>
      <div class="doctor-name">
        Dr. Sajja Ratna Kumar and Mrs. Sajja Jyothi
      </div>

      <div class="highlight">
        serve Messiah Fellowship with a shared passion for building
        Christ-centered lives and strong families
      </div>

      <div class="doctor-content">
        With a heart for the Gospel and a commitment to discipleship, they lead with wisdom,
        humility, and unwavering faith. Their desire is to see individuals discover their purpose
        in Christ and grow in spiritual maturity through prayer, teaching, and community.
      </div><br/>

      <div class="doctor-content">
        Together, they continue to shepherd the church with the vision to love God,
        love people, and impact the world through the message of Jesus Christ.
      </div><br><br><br><br><br>

      <button class="meet-pastor">MEET OUR PASTORS</button>
    </div>
  </div>

  <!-- BOTTOM SECTION -->
  <div class="pastor-rows reverse">
    <div class="pastor-contents-1">
      <div class="pastor-sajja">Pastor Sajja Eliazr</div><br/>
      <div class="pastor-founder">Founder & President, Messiah Fellowship</div><br/>
      <div class="pastor-text-content">
      <p><span class="pastor-name">Pastor Sajja Eliazer</span> is the founder and president of Messiah Fellowship, a ministry that has faithfully served for more than five decades. Born as Sajja Gowthameswara Rao and raised in a Hindu family in the village of Koduru, Mudinepalli Mandalam, his life took a transformative turn after his younger son, Ratna Kumar, was miraculously healed from a life-threatening illness. Through this powerful encounter, he came to know Jesus Christ personally and surrendered his life to the Gospel.</p>

      <p>For over 50 years, Pastor Eliazer has been in full-time ministry, passionately proclaiming the saving and miracle-working power of Jesus Christ across Andhra Pradesh and beyond. Known for his bold preaching and unwavering faith, he has become a respected and influential voice in Christian ministry throughout the region.</p>

      <p>His television program, Mahima Gadiyalu, is among the most-watched Christian broadcasts, reaching countless homes and sharing the message of hope, healing, and salvation.</p>

      <p>Through his leadership, Messiah Fellowship has grown into a thriving community of believers in Vijayawada. The Messiah Convention Center, located at 100 Feet Road, Autonagar Gate, stands as a testimony to God’s faithfulness and serves as a place where the Word of God continues to be proclaimed.</p>

      <p>Pastor Eliazer and his wife, Mrs. Kamala, have been blessed with two sons and a daughter, as well as eight grandchildren. Their family remains deeply rooted in faith and ministry.
      We warmly invite you to visit and experience the presence of God with us. You are just one step away from victory.</p>
    </div>
    </div>

    <div class="pastor-image-2">
      <img src="images/pastors-man.png" alt="Pastor Eliazer">
    </div>
  </div>

</div>
<!-- Ministries Section -->
<section class="ministries-section">
  <div class="container">

    <div class="section-header">
      <h2>A Place to Grow in Faith</h2>
      <p>
        Grow in faith through fellowship, prayer, discipleship, and ministries
        designed for every stage of life.
      </p>
    </div>

    <div class="cards-grid">

      <div class="card small-card">
        <img src="images/men-ministry.png" alt="Men's Ministry" class="card-tower">
        <div class="card-content">
          <h3>Men’s Ministry</h3>
          <div class="text-content">Building men of faith, character and purpose</div>
          <div class="day-time">
          <span>Wednesdays 5:00am</span>
          <img src="images/arrow.png" class="arrow" [routerLink]="'/men'">
          </div>
        </div>
      </div>

      <div class="card small-card">
        <img src="images/women-ministry.png" alt="Women's Ministry" class="card-tower">
        <div class="card-content">
          <h3>Women’s Ministry</h3>
          <div class="text-content">Encouraging women to grow in grace, strength and spiritual confidence</div>
          <div class="day-time">
          <span>Enquire: 9494 767 633</span>
          <img src="images/arrow.png" class="arrow" [routerLink]="'/women'">
          </div>
        </div>
      </div>

      <div class="card small-card">
        <img src="images/youth-ministry.png" alt="Youth Ministry" class="card-tower">
        <div class="card-content">
          <h3>Youth Ministry</h3>
          <div class="text-content">Raising a generation rooted in Christ and bold in faith</div>
          <div class="day-time">
          <span>Second Saturday 6:00pm</span>
          <img src="images/arrow.png" class="arrow" [routerLink]="'/youth'">
          </div>
        </div>
      </div>
    </div><br/>

    <div class="card1-grid">
      <div class="card1 wide-card">
        <img src="images/sunday-school.png" alt="Sunday School" class="card-tower">
        <div class="card-content">
          <h3>Sunday School</h3>
          <div class="text-content">TRaising a generation rooted in Christ and bold in faith</div><br>
          <div class="day-time">
          <span>Sunday 8:00am & 10:00am</span>
          <img src="images/arrow.png" class="arrow" [routerLink]="'/children'">
          </div>
        </div>
      </div>

      <div class="card1 wide-card">
        <img src="images/prayer-tower.png" alt="Prayer Tower" class="card-tower">
        <div class="card-content">
          <h3>Prayer Tower</h3>
          <div class="text-content">A house of prayer where faith is strengthened and lives are restored</div>
          <div class="day-time">
          <span>Everyday 7:00am to 7:00pm</span>
          <img src="images/arrow.png" class="arrow" [routerLink]="'/prayer'">
          </div>
        </div>
      </div>
    </div><br/>
    <div>
      <div class="card banner-card">
        <img src="images/family-blessing.png" alt="Family Blessing Prayer" class="card-tower">
        <div class="overlays">
          <h3>Family Blessing Prayer</h3>
          <p>Join us as we gather in prayer for families, seeking God’s blessing,<br>
guidance, and peace over our homes and loved ones.</p>
          <span>Friday 6:30pm</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="outreach-section">
  <div class="container">

    <div class="college-box">
      <div class="college-img">
        <img src="images/college.png" alt="Messiah Bible College">
      </div>

      <div class="college-content">
        <div class="college-name">Messiah Bible College</div>
        <div class="sub-title">Equipping Leaders. Strengthening the Church</div>
        <p>
          Messiah Bible College exists to equip believers with a deeper understanding of God’s Word and to prepare faithful leaders for ministry. Through structured biblical teaching, spiritual formation, and practical ministry training, we aim to raise men and women who are rooted in Scripture and empowered by the Holy Spirit.</p>
          <p>Our heart is to train disciples who will serve the Church with integrity, wisdom, and a strong foundation in Christian doctrine. Whether called to pastoral ministry, missions, teaching, or church leadership, students are nurtured to grow both academically and spiritually.
        </p>
        <a href="#" class="btn-outline">Take Your Admission</a>
      </div>
    </div>


    <div class="section-title">
      <div class="community-outreach">Community Outreach & Impact</div>
      <div class="sharing-god">
        Sharing God's love through meaningful action,<br>
        care, and service to the community
      </div>

      <p>
        At Messiah Fellowship, we believe faith is expressed through action. Our outreach initiatives are dedicated to serving people in practical and life-changing ways. From empowering women through skill development programs to organizing medical camps, distributing food and essentials, and responding during times of crisis, we are committed to bringing hope, dignity, and support to those in need.
      </p>

      <div class="through">
        Through every act of service, we strive to reflect Christ’s love and make a lasting impact in our community
      </div>
    </div>

    <!-- Cards -->
    <div class="nav-buttons">
      <button>‹</button>
      <button>›</button>
    </div>

    
    <div class="outreach-grid">
      <div class="outreach-card">
        <img src="images/freehealth.png" alt="Health Camp">
        <div class="outreach-img"></div>
        <div class="overlay">
          <span>FREE HEALTH CAMP</span>
          <div class="date-know">
           <div class="month-year">MAR 2026</div>
           <a routerLink="/medical">Know More ›</a>
          </div>
        </div>
      </div>

      
      <div class="outreach-card">
        <img src="images/flood-relief.png" alt="Flood Relief">
        <div class="outreach-img"></div>
        <div class="overlay">
          <span>FLOOD RELIEF CAMP</span>
          <div class="date-know">
           <div class="month-year">SEP 2026</div>
           <a routerLink="/floodrelief">Know More ›</a>
          </div>
        </div>
      </div>

    
      <div class="outreach-card">
        <img src="images/cloth-distribution.png" alt="Clothes Distribution">
        <div class="outreach-img"></div>
        <div class="overlay">
          <span>CLOTHES DISTRIBUTION</span>
          <div class="date-know">
           <div class="month-year">DEC 2026</div>
           <a routerLink="/Clothe">Know More ›</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ways To Give Section -->
<section class="give-section">
  <div class="give-container">

    <div class="give-content">
      <h2>Ways to Give</h2>

      <span class="sub-text">
        Giving is an act of worship and gratitude to God.
      </span>

      <div class="desc-give">
        Through your generosity, lives are touched, families are strengthened,
        and the Gospel continues to reach many.
      </div>

      <a href="#" class="give-btn">GIVE NOW</a>
    </div>

    <div class="give-image">
      <img src="images/hands.png" alt="Prayer Hands">
    </div>

  </div>
</section>
