.about-section {
  text-align: center;
  padding: 20px 20px;
  font-family: "Segoe UI", sans-serif;
}


.tagline {
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 15%;
}

.main-headings {
font-family: Playfair Display;
font-weight: 400;
font-style: Italic;
font-size: 50px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: -5%;
text-align: center;
margin-bottom: 20px;
}

.sub-heading {
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 10px;
color: #605F5F;
}

.services {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.service-card {
  background: #A3832E;
  color: #fff;
  padding: 12px 18px;
  border-radius: 6px;
  text-align: center;
  min-width: 140px;
}

.service-card span {
  display: block;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 22px;
leading-trim: NONE;
line-height: 27px;
letter-spacing: -7%;
}

.service-card strong {
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 22px;
leading-trim: NONE;
line-height: 27px;
letter-spacing: -7%;
}

.desc {
 font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
  max-width: 700px;
  margin: 10px auto;
  color: #414141;
}


.cta-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 182px;
  height: 50px;
  padding: 20px 35px;
  border-radius: 100px;
  background-color: #6E0F4A;
  color: #FFFFFF;
  opacity: 1;
  border: none;
  cursor: pointer;
}


.pastors-section {
  width: 100%;
  font-family: 'Georgia', serif;
}

.pastor-content{
background: #f8f6f7;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.pastor-row {
     display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    height: 543px;
}

.pastor-image-1{
  width: 50%;
    height: 100%;
}
.pastor-row.reverse {
  flex-direction: row-reverse;
}

.pastor-rows{
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.pastor-founder{
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #2B2B2B;
}

.pastor-image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pastor-image-2 img {
  width: 95%;
  border-radius: 35px;
  height: 822px;
}

.pastor-image-2{
  margin-bottom: -130px;
  width: 40%;
    margin-right: 7%;
}

.pastor-sajja{
font-family: Playfair Display;
font-weight: 600;
font-style: SemiBold;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #2B2B2B;
}

.pastor-contents-1{
  padding: 60px 80px;
  width: 50%;
}
.pastor-name{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
}
.pastor-text-content{
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
color: #1A1A1A;
}

.label {
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 10px;
}

.doctor-name{
font-family: Playfair Display;
font-weight: 500;
font-style: Italic;
font-size: 22px;
leading-trim: NONE;
line-height: 150%;
letter-spacing: 0%;
}

.our-pastor{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color:#2B2B2B;
;
}

.highlight {
  font-style: italic;
  margin-bottom: 15px;
}

.doctor-content{
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
color: #1A1A1A;
}

.pastor-content p {
font-family: Playfair Display;
font-weight: 400;
font-style: Italic;
font-size: 22px;
color: #1A1A1A;
}

.meet-pastor {
 width: 215px;
height: 50px;
angle: 0 deg;
opacity: 1;
top: 1941px;
left: 732px;
border-radius: 100px;
padding-top: 18px;
padding-right: 26px;
padding-bottom: 18px;
padding-left: 26px;
gap: 10px;
border-width: 1px;
border: 1px solid #4F0834;
color: #4F0834;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
cursor: pointer;
}


.ministries-section {
  background: #5b0038;
  padding: 80px 20px 30px;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-header {
  margin-bottom: 40px;
}

.section-header h2 {
  font-family: Playfair Display;
font-weight: 700;
font-style: Italic;
font-size: 65px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: -6%;
vertical-align: middle;
color: #F3E6ED;
  margin-bottom: 10px;
}

.section-header p {
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 25px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #F2F2F0;
max-width: 700px;
}

.day-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow{
  width: 24px;
height: 24px;
angle: 0 deg;
opacity: 1;
top: 3576px;
left: 452px;
cursor: pointer;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.card1-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
}

.card1 {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.card1:hover {
  transform: translateY(-6px);
}

.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: 0.3s ease;
   
}

.card:hover {
  transform: translateY(-6px);
}

.card .card-tower {
  width: 100%;
}

.card1 .card-tower{
  width: 100%;
  height: 220px;

}

.card1 {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.card-content {
  padding: 0px 35px 20px;
}

.card-content h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: normal;
  letter-spacing: 0;
  text-align: left;
  color: #1A1A1A;
  opacity: 1;
  margin-bottom: 8px;
  color: #1A1A1A;
}

.text-content {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #2B2B2B;
  opacity: 1;
margin-bottom: 12px;
color: #2B2B2B;
}

.card-content span {
 font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #2B2B2B;
}

.wide-card {
  grid-column: span 1;
}

.card-tower {
  height: 285px;
  width: 100%;
}

.banner-card {
  grid-column: span 3;
  position: relative;
   border: 5px solid #F3E6ED;
   
}

.banner-card img {
  height: 330px;
}

.banner-card .overlays {
   position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;

  /* Your gradient */
  background: linear-gradient(
    360deg,
    rgba(17, 1, 11, 0.9) 7.36%,
    rgba(79, 8, 52, 0.35) 49.06%
  );
}

.banner-card h3 {
font-family: Playfair Display;
font-weight: 700;
font-style: Italic;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
  margin-bottom: 10px;
  color: #ffffff;
}

.banner-card p {
    font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff;
  margin-bottom: 10px;
}

.banner-card span {
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #ffffff;
}


.outreach-section {
  font-family: 'Poppins', sans-serif;
  padding: 60px 0px 0px;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0px 20px 0 20px
}

.college-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #efefef;
  border-radius: 12px;
  overflow: hidden;
}

.college-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    object-position: center;
}

.college-content {
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.college-name {
font-family: Playfair Display;
font-weight: 700;
font-style: Bold;
font-size: 45px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #1A1A1A;
}

.sub-title {
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 21px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #2B2B2B;
}

.college-content p {
font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
color: #1A1A1A;
}

.btn-outline {
  width: 145px;
height: 0px;
angle: 0 deg;
opacity: 1;
top: 5137px;
left: 776px;
border-radius: 100px;
padding-top: 20px;
padding-right: 35px;
padding-bottom: 20px;
padding-left: 35px;
gap: 10px;
border-width: 1px;
border: 1px solid #4F0834;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color:#4F0834;
text-decoration: none;
display: flex;
align-items: center;
}


.section-title {
  margin-top: 40px;
  text-align: center;
}

.community-outreach {
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 55px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: -7%;
}

.sharing-god {
  font-family: Playfair Display;
font-weight: 600;
font-style: Italic;
font-size: 51px;
leading-trim: NONE;
line-height: 51px;
letter-spacing: 0%;
text-align: center;
  color: #1B1B1B;
}

.section-title p {
 font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
color: #242424;
  margin-bottom: 12px;
text-align: left;
}

.through{
  font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 18px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0%;
color: #242424;
display: flex;
align-items: left;
  margin-bottom: 12px;
}

.nav-buttons{
  display:flex;
  gap:12px;
  margin-bottom:30px;
}

.nav-buttons button{
 width: 35px;
height: 35px;
angle: 0 deg;
opacity: 1;
top: 5651px;
left: 165px;
  border:none;
  border-radius:50%;
  background:#111;
  color:#fff;
  font-size:28px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outreach-img{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, rgba(17, 17, 17, 0.9) 100%);
}

.outreach-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:22px;
}

.outreach-card {
  position: relative;
  overflow: hidden; 
  border-radius: 8px;
}

.outreach-card img {
  width: 100%;
  height: 450px;
  display: block;
  transition: transform 0.2s ease; 
  background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, rgba(17, 17, 17, 0.9) 100%);
}

.outreach-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%; 
  padding: 20px; 
  color: #fff;
  z-index: 2;
}

.overlay span{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 16px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: -5%;
}

.month-year{
  font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 28px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: -5%;
}

.date-know{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.overlay a{
  color:#DBDBDB;
  font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: -5%;
text-decoration: none;
}

.give-section {
  padding: 40px 20px;
}

.give-container {
  max-width: 1150px;
  margin: auto;
  background: #a8841f;
  border-radius: 18px;
  padding: 35px 40px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  overflow: hidden;
}

.give-content h2 {
  font-family: Playfair Display;
font-weight: 700;
font-style: Italic;
font-size: 70px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
  margin-bottom: 18px;
  margin-top: 10px;
  color: #FFFBF0;
}

.sub-text {
 font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 25px;
letter-spacing: 0%;
  margin-bottom: 10px;
  color: #FFFBF0;
}

.desc-give {
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 25px;
letter-spacing: 0%;
color: #FFFBF0;
  margin-bottom: 35px;
}

.give-btn {
  display: inline-block;
  padding: 20px 35px;
  border: 1px solid #FFFBF0;
  color: #FFFBF0;
  border-radius: 40px;
  text-decoration: none;
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
  transition: 0.3s ease;
}

.give-image {
  flex: 0 0 260px;
  text-align: right;
}

.give-image img {
  width: 200px;
  max-width: 100%;
  object-fit: contain;
}

@media(max-width:1200px){
  .pastor-row{
    flex-direction: column;
    height: auto;
  }
  .pastor-image-1{
    width: 100%;
  }
  .pastor-content{
    width: 93%;
    padding: 30px;
  }
  .pastor-rows{
  flex-direction: column;
  margin: 10px;
}
.pastor-contents-1{
  width: 85%;
  padding: 0px 10px;
}
.pastor-image-2{
  width: 60%;
    margin-bottom: -9%;
}
}

@media (max-width: 992px) {
 
  .give-content h2 {
    font-size: 58px;
  }

  .desc {
    max-width: 100%;
  }

  .give-image {
    text-align: center;
  }
  .outreach-grid{
    grid-template-columns:1fr 1fr;
  }

  .top-text{
    font-size:24px;
  }

   .college-box {
    grid-template-columns: 1fr;
  }

  .impact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
   .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-card {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
   
  .card1-grid{
    display: flex;
    flex-direction: column;
  } 

  .cards-grid {
    grid-template-columns: 1fr;
  }

  .banner-card,
  .wide-card {
    grid-column: span 1;
  }

  .section-header h2 {
    font-size: 33px;
  }

  .banner-card h3 {
    font-size: 30px;
  }

  .give-content h2 {
    font-size: 42px;
  }

  .sub-text,
  .desc {
    font-size: 15px;
  }

  .give-image img {
    width: 180px;
  }

  .outreach-grid{
    grid-template-columns:1fr;
  }
   
   .give-container {
    flex-direction: column;
    padding: 45px 30px;
  }

  .overlay h3{
    font-size:36px;
  }

  .top-text{
    font-size:20px;
  }
  .impact-grid {
    grid-template-columns: 1fr;
  }

  .section-title h2 {
    font-size: 34px;
  }

  .section-title h3 {
    font-size: 28px;
  }

  .college-content h2 {
    font-size: 30px;
  }

  .main-headings {
  font-size: 30px;
  }

  .sub-heading{
    font-size: 28px;
  }
  
  .college-name{
    font-size: 35px;
  }
  .college-content{
    padding: 40px;;
  }
  .pastor-image-2 img {
  width: 110%;
  height: 600px;
}
.service-card{
  padding: 6px 9px;
  min-width: 100px;
}
.service-card span{
  font-size: 16px;
}
.service-card strong{
  font-size: 16px;
}
.ministries-section{
  padding: 50px 20px 30px;
}
}
