<div class="prayerministries-contents">
    <img src="images/prayer-tower1.png" class="main-imgs" />
    <div class="prayerministries-img"></div>
    <div class="prayerministries-text">
        <div class="main-heading">GLOBAL PRAYER TOWER</div>
    </div>
</div>

<section class="prayer-section">
  <div class="prayer-container">
    <div class="prayer-content">
      <h1>
        Global Prayer Tower
      </h1>
      <div class="time">
        <img src="images/calender.png" width="20"> 7:00am to 10:00pm (Monday & Saturday)
      </div>
      <p>
       At Messiah Fellowship, our prayer teams are dedicated to standing with you in prayer, believing God for His guidance, healing, and breakthrough in every situation.</p>

      <p>We understand that life can bring challenges, burdens, and unanswered questions. You are not alone. Our prayer team stands in the gap, interceding on your behalf and seeking God’s help when you need strength, direction, or deliverance.</p>

       <p>No matter what you are going through, we invite you to share your prayer requests with us. With compassion and faith, we lift every need before God, trusting in His power and promises.</p>

       <p>All our prayers are rooted in the Word of God and offered with love, faith, and commitment believing that God hears and answers.</p>
      
    </div>
    <div class="prayertower-image">
      <img src="images/prayer-logo.png" alt="youth Ministry">
    </div>
  </div>
  <div class="prayer-gallery">
    <img src="images/prayer1.png" alt="youth Ministry">
    <img src="images/prayer2.png" alt="youth Ministry">
    <img src="images/prayer3.png" alt="youth Ministry">
  </div>
</section>
