<div class="about-contents">
    <img src="images/about-img.png" class="main-imgs"  />
   <div class="about-image"></div> 
    <div class="about-text">
        <div class="main-heading">ABOUT US</div>
    </div>
</div>
<div>
    <!-- ABOUT SECTION -->
<section class="about-page">

  <!-- Top Intro -->
  <div class="about-intro">
    <span class="mini-title">A CHRIST-CENTERED CHURCH IN VIJAYAWADA</span>

    <h1>
      Christ-Centered, Spirit-Led and <br/>
      Community-Driven.
    </h1>

    <p>
      Messiah Fellowship is a Christ-centered church committed to proclaiming
      the truth of God's Word and nurturing believers in their spiritual journey.
    </p>

    <p>
      Founded with a vision to bring people into a deeper relationship with
      Jesus Christ, the church emphasizes sound doctrine, faithful discipleship,
      and a life led by the Holy Spirit.
    </p>

    <p>
      At Messiah Fellowship, we believe in building a strong, loving community
      where lives are transformed, hope is restored, and Christ is glorified.
    </p>
  </div>

  <!-- Mission Vision -->
  <div class="mission-section">

    <h2>
      Building lives through Christ <br>
      and strengthening faith together
    </h2>

    <div class="plus-icon"><img src="images/logo6.png"></div>

    <div class="mission-grid">

      <div class="card">
        <h3>Mission</h3>
        <p>
          To lead people into the saving knowledge of Jesus Christ,
          nurturing hearts, families, and lives through the truth
          of God’s Word.
        </p>
      </div>

      <div class="card">
        <h3>Vision</h3>
        <p>
          To help people discover their identity in Christ, walk in
          God’s purpose, and grow into mature disciples filled with
          faith, wisdom, and the Holy Spirit.
        </p>
      </div>

    </div>

  </div>

</section>


<section class="values-section">

  <div class="container">

    <h2 class="section-title">What We Value</h2>

    <div class="values-grid">

      <!-- Card 1 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo3.png"></div>
        <h3>Love</h3>
        <p>
          Love is the foundation of our faith and the greatest commandment,
          guiding how we live and serve others.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo9.png"></div>
        <h3>Excellence</h3>
        <p>
          We pursue excellence in all we do, honoring God and inspiring
          those around us.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo8.png"></div>
        <h3>Spiritual Growth</h3>
        <p>
          We encourage growth through prayer, the Word of God,
          and the leading of the Holy Spirit.
        </p>
      </div>

      <!-- Card 4 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo7.png"></div>
        <h3>Teaching & Discipleship</h3>
        <p>
          We believe that sound teaching and intentional discipleship
          bring true transformation in people's lives.
        </p>
      </div>

      <!-- Card 5 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo5.png"></div>
        <h3>Family & Community</h3>
        <p>
          We value families as God's design and build a strong,
          supportive church community.
        </p>
      </div>

      <!-- Card 6 -->
      <div class="value-card">
        <div class="icon"><img src="images/logo4.png"></div>
        <h3>Restoration & Hope</h3>
        <p>
          We believe God restores and rebuilds lives, bringing
          hope, healing, and purpose to those in need.
        </p>
      </div>

    </div>

  </div>

</section>

<section class="belief-section">

  <div class="container">
    <div class="top-layout">
      <div class="belief-text">
        <h2>What We Believe</h2>
        <h3>
          Our beliefs are firmly grounded in the Holy Bible and centered on the life and teachings of Jesus Christ.
        </h3>
      </div>

      <div class="top-cards">
        <div class="belief-card">
          <h4>The Scriptures</h4>
          <small>2 Timothy 3:16; 2 Peter 1:21</small>
          <p>
           We believe in one God, eternally existing in three persons: Father, Son, and Holy Spirit co equal and eternal.
           Jesus Christ is the Word made flesh, and the Holy Spirit proceeds from the Father and the Son.
          </p>
        </div>

        <div class="belief-card">
          <h4>The Godhead</h4>
          <small>John 1:1,14; John 14:26
           John 15:26</small>
          <p>
            We believe in one God, eternally existing in three persons: Father, Son, and Holy Spirit co equal and eternal.
            Jesus Christ is the Word made flesh, and the Holy Spirit proceeds from the Father and the Son.
          </p>
        </div>
      </div>
    </div>

    <div class="bottom-cards">

      <div class="belief-card">
        <h4>Man, Fall & Redemption</h4>
        <small>Romans 3:23; John 3:16
        Ephesians 2:8–10</small>
        <p>We believe man was created in God’s image but fell into sin through disobedience. Salvation is made possible through Jesus Christ, who redeemed humanity by His sacrifice It is received by grace through faith, not by works.</p>
      </div>

      <div class="belief-card">
        <h4>Eternal Life & New Birth</h4>
        <small>John 3:3–5; John 5:24</small>
        <p>We believe that repentance is essential for salvation, and the new birth is necessary for all. Through Christ, believers receive eternal life.</p>
      </div>

      <div class="belief-card">
        <h4>Water Baptism</h4>
        <small>Matthew 28:19; Romans 6:4</small>
        <p>We believe in water baptism by immersion for believers, as commanded by the Lord. It is a public declaration of faith and identification with Christ’s death, burial, and resurrection.</p>
      </div>

      <div class="belief-card">
        <h4>The Holy Spirit</h4>
        <small>John 14:16; Acts 1:8</small>
        <p>We believe the Holy Spirit is the third person of the Trinity, who dwells within believers as a helper and comforter. He empowers believers and manifests through spiritual gifts.</p>
      </div>

      <div class="belief-card">
        <h4>Sanctification</h4>
        <small>Hebrews 12:14;
        1 Thessalonians 5:23</small>
        <p>We believe sanctification is both a definite and progressive work of grace, beginning at salvation and continuing until Christ’s return.</p>
      </div>

      <div class="belief-card">
        <h4>Divine Healing</h4>
        <small>Mark 16:18; James 5:14–15</small>
        <p>We believe divine healing is provided through the atonement of Christ and is available through prayer and faith.</p>
      </div>

      <div class="belief-card">
        <h4>Resurrection & Return of Christ</h4>
        <small>Matthew 28:19; Romans 6:4</small>
        <p>We believe in the resurrection of the dead and the second coming of Jesus Christ. He will return as King of Kings, and believers will be gathered to Him.</p>
      </div>

      <div class="belief-card">
        <h4>Eternal Judgment</h4>
        <small>Revelation 20:15; Hebrews 9:27</small>
        <p>We believe in eternal life for those who accept Christ and eternal separation from God for those who reject Him.</p>
      </div>

    </div>

  </div>

</section>
</div>
