.widowcare-contents{
    width: 100%;
    position: relative;
}
.widowcare-img{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(81, 81, 81, 0.7) 1.59%, rgba(0, 0, 0, 0.7) 59.43%);
}
.widowcare-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEEEEE;
  text-align: center;
   z-index: 2;
  width: 100%;
}


.widowcare-text2{
    font-family: Inter;
font-weight: 300;
font-style: Light;
font-size: 49px;
text-align: center;
}

.widow-care {
  max-width: 1100px;
  margin: auto;
  padding: 0px 20px;
  font-family: serif;
}

.side-image img{
  height: 649px;
}

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: center;
  padding: 40px 0px;
}

.text div {
font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 85px;
leading-trim: NONE;
line-height: 94%;
letter-spacing: -6%;
}

.text p {
 font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
color: #272727;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 30px;
}

.gallery img {
  border-radius: 12px;
  width: 100%;
}

.quote {
  text-align: center;
  margin-top: 30px;
}

.quote .small {
font-family: Inter;
font-weight: 300;
font-style: Italic;
font-size: 25px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: -5%;
  color: #606060;
}

.quote div {
font-family: Playfair Display;
font-weight: 700;
font-style: Italic;
font-size: 65px;
leading-trim: NONE;
line-height: 73px;
letter-spacing: -5%;
text-align: center;
vertical-align: middle;
color:#594C54;
margin-bottom: 20px;
}

@media (max-width:992px) {
  .text div {
    font-size: 70px;
  }
    .gallery{
    grid-template-columns:1fr 1fr;
  }
}

@media (max-width: 768px) {
  .top-section {
    grid-template-columns: 1fr;
  }
  
  .text h2{
    font-size: 55px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gallery img{
    width: 100%;
  }
  .side-image{
    display: flex;
    justify-content: center;
  }

  .quote div {
    font-size: 55px;
  }
}