.medical-contents{
    width: 100%;
    position: relative;
}
.medical-img{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(81, 81, 81, 0.7) 1.59%, rgba(0, 0, 0, 0.7) 59.43%);
}
.medical-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEEEEE;
  text-align: center;
   z-index: 2;
  width: 100%;
}


.medical-text2{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 50px;

}

.outreach {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}

.rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}

.row.reverse {
  direction: rtl;
}

.row.reverse .content {
  direction: ltr;
}


.image img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.mainhead{
font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 79px;
leading-trim: NONE;
line-height: 94%;
letter-spacing: -6%;
}

.subhead{
  font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 63px;
leading-trim: NONE;
line-height: 94%;
letter-spacing: -6%;

}

.content p {
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 26px;
letter-spacing: 0%;
color: #272727;
}

.ourmission{
  font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 70px;
leading-trim: NONE;
line-height: 94px;
letter-spacing: -5%;

}

.info-section {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin-bottom: 30px;
}

.info-box {
  padding: 50px 40px;
  color: white;
}


.maroon {
  background-color: #5c0a2f;
}


.yellow {
  background-color: #a3832e; 
  color: #fff;
}


.head {
 font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 50px;
leading-trim: NONE;
line-height: 94px;
letter-spacing: -8%;
color: #f9f9f9;
}

.info-box2{
  padding-left: 60px;
}

.info-box ul {
  padding-left: 20px;
}

.info-box li {
  margin-bottom: 10px;
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0%;
}

.info-box p {
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
color: #f9f9f9;
}

.relief-section{
  padding:0px 20px;
  font-family:'Poppins',sans-serif;
}

.container{
  max-width:1150px;
  margin:auto;
}

.mission-image img{
  width:100%;
}

.medical-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.medical-gallery img {
  width: 100%;
  border-radius: 12px; 
  display: block;
}
.quote-section {
  text-align: center;
  padding: 0px 20px;
}

.quote-main {
  font-family: Playfair Display;
font-weight: 700;
font-style: Italic;
font-size: 71px;
leading-trim: NONE;
line-height: 73px;
letter-spacing: -5%;
text-align: center;
vertical-align: middle; 
  color: #594C54;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 20px;
  margin-top: 40px;
}



@media(max-width:992px){
.info-box2{
  padding-left: 30px;
}
  .mission-box{
    grid-template-columns:1fr;
  }

  h1{
    font-size:48px;
  }
}

@media(max-width:768px){
  h1{
    font-size:36px;
  }

  h2{
    font-size:30px;
  }
  .medical-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-section {
  display: flex;
  flex-direction: column;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
   .rows{
    display: flex;
    flex-direction: column-reverse;
  }
  .content div {
   font-size: 58px;
   }
   .quote-main {
  font-size: 51px;
   }
}
@media (max-width: 480px) {
  .medical-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .content div {
   font-size: 58px;
   }
    .row{
    display: flex;
    flex-direction: column;
  }
   .rows{
    display: flex;
    flex-direction: column-reverse;
  }
}