<div class="medical-contents">
    <img src="images/kamalaarts.png" class="main-imgs" />
    <div class="medical-img"></div>
    <div class="medical-text">
        <div class="main-heading">Kamala Arts & Craft Training Center</div>
        <span class="medical-text2">Empowering Lives Through Skill & Dignity</span>
    </div>
</div>

<section class="outreach">
  <div class="row">
    <div class="content">
      <div class="mainhead">Kamala Arts & Craft </div>
      <div class="subhead">Training Center</div>
      <p>The Kamala Arts & Craft Training Center, an initiative of Messiah Fellowship, is dedicated to empowering women with practical skills that help them build a better future. Through structured training programs, participants are equipped with tailoring and stitching skills that enable them to earn a livelihood with dignity and confidence. 
      </p>
    </div>
    <div class="image">
      <img src="images/kamalaarts1.png" alt="">
    </div>
  </div>

  <div class="rows">
    <div class="image">
      <img src="images/kamalaarts2.png" alt="">
    </div>
    <div class="content">
      <div class="ourmission">Our Mission</div>
      <p>The center welcomes individuals from all backgrounds, irrespective of religion or community. It is open to everyone who is willing to learn and grow, reflecting the heart of Messiah Fellowship to serve society with love, equality, and compassion.</p>
    </div>
  </div>

</section>

<div class="info-section">
  <div class="info-box maroon">
    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
    <div class="head">What We Provide</div>
    <ul>
      <li>Free tailoring and stitching training</li>
      <li>Hands-on practical learning sessions</li>
      <li>Sewing machine support for selected participants</li>
      <li>Skill development for self-employment</li>
      <li>Open access for all communities</li>
    </ul>
    </div>
  </div>

  <div class="info-box yellow">
    <div style="display: flex;flex-direction: column;justify-content: center;" class="info-box2">
    <div class="head">How It Helps</div>
    <p>
      Upon successful completion, many participants are supported with sewing machines, enabling them to start their own work from home or secure employment opportunities. What begins as learning soon becomes a pathway to financial independence and self-reliance.
    </p>
    </div>
  </div>
</div>
    <div class="medical-gallery">
      <img src="images/kamalaarts3.png" alt="kamalaarts">
      <img src="images/kamalaarts4.png" alt="kamalaarts">
      <img src="images/kamalaarts5.png" alt="kamalaarts">
      <img src="images/kamalaarts6.png" alt="kamalaarts">
      <img src="images/kamalaarts7.png" alt="kamalaarts">
      <img src="images/kamalaarts8.png" alt="kamalaarts">
    </div>
<div class="quote-section">
  <h2 class="quote-main">
    Transforming skills into livelihoods and opportunities into lasting change.
  </h2>
</div>