<div class="youthministries-contents">
    <img src="images/youth-ministries.png" class="main-imgs" />
    <div class="youthministries-img"></div>
    <div class="youthministries-text">
        <div class="main-heading">YOUTH MINISTRIES</div>
    </div>
</div>

<!-- MEN'S MINISTRY SECTION -->
<section class="youth-section">
  <div class="youth-container">
    <div class="youth-content">
      <h1>
        Youth Ministry
      </h1>
      <div class="time">
        <img src="images/calender.png" width="20"> Every Second Saturday 6:00pm
      </div>
      <p>
        The Women’s Ministry at Messiah Fellowship provides a meaningful space for women to grow in faith, build relationships, and encourage one another in their walk with God.</p>

<p>We meet on the second Tuesday of every month creating a time of fellowship, prayer, and spiritual enrichment. These gatherings are designed to strengthen women through the Word of God and help them grow deeper in their relationship with Christ.</p>

<p>Women from all ages and backgrounds come together to share life, support one another, and learn how to apply biblical principles in everyday living. Through worship, teaching, and fellowship, the ministry nurtures spiritual growth and unity.</p>

<p>This ministry also focuses on practical aspects of life, helping women grow in faith, family, and purpose, while encouraging them to live confidently in God’s calling.</p>
      
    </div>
    <div class="youth-image">
      <img src="images/youth-img1.png" alt="youth Ministry">
    </div>
  </div>
  <div class="youth-gallery">
    <img src="images/youth-img3.png" alt="youth Ministry">
    <img src="images/youth-img4.png" alt="youth Ministry">
    <img src="images/youth-img2.png" alt="youth Ministry">
  </div>
</section>
