<div class="menministries-contents">
    <img src="images/men-ministries.png" class="main-imgs" />
    <div class="menministries-img"></div>
    <div class="menministries-text">
        <div class="main-heading">MEN’S MORNING PRAYER  
            AND BREAKFAST</div>
    </div>
</div>

<section class="mens-section">
  <div class="mens-container">
    <div class="mens-content">
      <div class="men-head">
        <div>Men's</div>
        <div>Morning Prayer& </div>
        <div>Breakfast</div>
      </div>
      <div class="time">
        <img src="images/calender.png" width="20"> Wednesday, 5:00am
      </div>
        <p>Men’s Ministry at Messiah Fellowship is committed to developing men of character, faith, and purpose through the truth of God’s Word.</p>

        <p>We seek to lead men into a deeper relationship with Jesus Christ, helping them grow spiritually and live out their faith in everyday life. Through teaching, fellowship, and accountability, men are encouraged to strengthen their walk with God and become responsible leaders in their families and communities.</p>

        <p>At Messiah Fellowship, men from all backgrounds come together to support one another, learn biblical principles, and discover God’s purpose for their lives. We believe that strong, Christ-centered men can influence families, communities, and future generations.</p>

        <p>The ministry also addresses practical areas such as family life, financial stewardship, spiritual discipline, and personal growth, equipping men to live faithfully and serve others with love.</p>
    </div>
    <div class="mens-image">
      <img src="images/mens.png" alt="Men Ministry">
    </div>
  </div>
  <div class="mens-gallery">
    <img src="images/men1.jpg" alt="men Ministry" style="border-radius: 8px; height: 40vh;">
    <img src="images/men2.jpg" alt="men Ministry" style="border-radius: 8px; height: 40vh;">
    <img src="images/men3.jpg" alt="men Ministry" style="border-radius: 8px; height: 40vh;">
  </div>
</section>