.womenministries-contents{
    width: 100%;
    position: relative;
}
.womenministries-img{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(81, 81, 81, 0.7) 1.59%, rgba(0, 0, 0, 0.7) 59.43%);
}
.womenministries-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEEEEE;
  text-align: center;
   z-index: 2;
  width: 100%;
}

.womens-section{
  padding:50px 20px;
  font-family:'Poppins', sans-serif;
}

.womens-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1.2fr 420px;
  gap:60px;
  align-items:start;
}


.womens-content h1{
font-family: Playfair Display;
font-weight: 400;
font-style: Regular;
font-size: 100px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: -6%;
  color:#000000;
  margin-bottom:25px;
}


.womens-content p{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0%;
  color:#141414;
  margin-bottom:18px;
  max-width:720px;
}



.gallery-box{
  height:230px;
  background:#ddd;
  border-radius:10px;
}

.womens-image img{
  width:100%;
  border-radius:8px;
}

.womens-gallery{
max-width: 1200px;
  margin:50px auto 0;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-bottom: 15px;
  border-radius: 15px;
}
.womens-gallery img{
  width: 100%;
}
@media(max-width:992px){

  .womens-container{
    grid-template-columns:1fr;
  }

  .womens-content h1{
    font-size:78px;
  }

  .womens-gallery{
    grid-template-columns:1fr 1fr;
  }

  .womens-section{
  padding:0px 20px;
}
}

@media(max-width:768px){

  .womens-gallery{
    grid-template-columns:1fr;
  }

  .gallery-box{
    height:200px;
  }

    .womens-section{
  padding:0px 20px;
}
}