.childrenministries-contents{
    width: 100%;
    position: relative;
}
.childrenministries-img{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(81, 81, 81, 0.7) 1.59%, rgba(0, 0, 0, 0.7) 59.43%);
}
.childrenministries-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEEEEE;
  text-align: center;
   z-index: 2;
  width: 100%;
}

.children-section{
  padding:50px 20px;
  font-family:'Poppins', sans-serif;
}

.children-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1.2fr 420px;
  gap:60px;
  align-items:start;
}

.children-content h1{
  font-size:100px;
  line-height:1;
  font-family:'Playfair Display', serif;
  font-weight:500;
  color:#111;
  margin-bottom:25px;
}

.time{
  font-size:16px;
  color:#666;
  margin-bottom:30px;
}

.children-content p{
  font-size:15px;
  line-height:1.8;
  color:#444;
  margin-bottom:18px;
  max-width:720px;
}

.children-image img{
  width:100%;
  border-radius:8px;
}

.children-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 15px;
}

.children-gallery img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 12px; 
  display: block;
}

@media(max-width:992px){

  .children-container{
    grid-template-columns:1fr;
  }

  .children-content h1{
    font-size:58px;
  }
}

@media(max-width:768px){

  .children-section{
    padding: 0px 20px;
  }

  .children-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .children-content h1{
    font-size:45px;
  }
}
@media (max-width: 480px) {
  .children-gallery {
    grid-template-columns: 1fr;
  }
}