<div class="childrenministries-contents">
    <img src="images/children-ministries.png" class="main-imgs" />
    <div class="childrenministries-img"></div>
    <div class="childrenministries-text">
        <div class="main-heading">Children Ministry Sunday School</div>
    </div>
</div>

<section class="children-section">
  <div class="children-container">
    <div class="children-content">
      <h1>
       Children Ministry/Sunday School
      </h1>
      <div class="time">
        <img src="images/calender.png" width="20"> Sunday, 8:00 AM and 10:00 AM
      </div>
      <p>
       The Children’s Ministry at Messiah Fellowship is dedicated to nurturing young hearts in the love and truth of God’s Word.</p>

       <p>We provide a joyful and engaging environment where children can learn Bible stories, grow in faith, and develop a personal relationship with Jesus Christ. Through interactive teaching, songs, and activities, children are encouraged to understand and apply biblical principles in their daily lives.</p>

       <p>Our goal is to help children build a strong spiritual foundation from an early age, guiding them to grow in character, obedience, and faith. We believe that teaching children in a loving and supportive environment helps them become confident and Christ-centered individuals.</p>

      <p>Through fun-filled sessions and meaningful lessons, children are equipped to praise, serve, and follow the Lord, while enjoying fellowship with other children.</p>
    </div>
    <div class="children-image">
      <img src="images/children.png" alt="children Ministry">
    </div>
  </div>
  <div class="children-gallery">
    <img src="images/child1.png" alt="children Ministry">
    <img src="images/child2.png" alt="children Ministry">
    <img src="images/child3.png" alt="children Ministry">
    <img src="images/child4.png" alt="children Ministry">
    <img src="images/child5.png" alt="children Ministry">
    <img src="images/child6.png" alt="children Ministry">
  </div>
</section>