 <div class="news-banner">
    <img src="images/news.png" alt="News Banner">
    <div class="news-text"></div>
    <div class="news-overlay">
      <h1>IN THE NEWS</h1>
    </div>
</div>

<section class="news-section">
  <!-- Content -->
  <div class="news-content">

    <h2>
      Featured in leading newspapers for <br>
      community service and outreach.
    </h2>

    <!-- Newspaper Images -->
    <div class="news-grid">

      <div class="news-card">
        <img src="images/abn1.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/sakshi1.png" alt="News 3">
      </div>
      
       <div class="news-card">
        <img src="images/abn2.png" alt="News 4">
      </div>
      
      <div class="news-card">
        <img src="images/eenadu3.png" alt="News 5">
      </div>
     
      <div class="news-card">
        <img src="images/abn4.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/eenadu1.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/sakshi3.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/abn3.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/sakshi5.png" alt="News 1">
      </div>

       <div class="news-card">
        <img src="images/sakshi2.png" alt="News 2">
      </div>
      
      <div class="news-card">
        <img src="images/eenadu2.png" alt="News 6">
      </div>

       <div class="news-card">
        <img src="images/sakshi4.png" alt="News 1">
      </div>

      <div class="news-card">
        <img src="images/eenadu4.png" alt="News 1">
      </div>

    </div>

  </div>

</section>

