<section class="hero">

  <!-- Image -->
  <img src="images/biblecollege.png" alt="Graduation" class="hero-img">

  <!-- Overlay Content -->
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>Equipping Lives for <br> God’s Calling</h1>
      <p>
        Training and raising men and women with a strong foundation in God’s Word, 
        empowered to serve, lead, and transform lives.
      </p>
      <button>TAKE YOUR ADMISSION</button>
    </div>
  </div>

</section>
<section class="bible-college">
  <div class="container">
    
    <!-- Left Content -->
    <div class="content">
      <h2>About the<br> Bible College</h2>
      <p>
        Messiah Bible College is dedicated to equipping believers with a deep 
        understanding of the Word of God and preparing them for effective ministry. 
        Through systematic teaching, practical training, and spiritual mentoring, 
        the college nurtures individuals to grow in faith, character, and leadership.
      </p>

      <p>
        The program is designed to help students not only gain biblical knowledge 
        but also apply it in real-life ministry, outreach, and service. With a strong 
        emphasis on prayer, discipleship, and spiritual discipline, the college raises 
        committed servants for God's Kingdom.
      </p>
    </div>

    <!-- Right Image -->
    <div class="image">
      <img src="images/bible-college.png" alt="Bible College">
    </div>

  </div>
</section>
<section class="vision-mission">

  <div class="vm-container">
    <!-- Vision -->
    <div class="vision">
      <div>Our Vision</div>
      <p>
        To raise a generation of Spirit filled leaders who are firmly rooted in the 
        Word of God, committed to serving others, and passionate about advancing 
        God’s Kingdom.
      </p>
    </div>

    <!-- Mission -->
    <div class="mission">
      <div>Our Mission</div>
      <ul>
        <li>To provide sound biblical teaching and spiritual training</li>
        <li>To equip individuals for ministry, leadership, and service</li>
        <li>To nurture Christ-like character through discipleship and prayer</li>
        <li>To prepare students to impact communities with the love of Christ</li>
      </ul>
    </div>
  </div>

</section>


<!-- Courses Section -->
<section class="courses">
  <div class="course-title">Courses Offered</div>

  <div class="course-container">

    <!-- Card 1 -->
    <div class="card">
      <img src="images/course.png" alt="">
      <h3>Bachelor of Theology <span class="degree">(B.Th)</span></h3>
      <div class="meta"><div>Duration: </div> <span>3 Years |</span> <div>Qualification: </div> <span>Inter</span></div>
      <p>Program designed to build a strong foundation in biblical studies, theology, and ministry leadership</p>
      <button>Apply Now</button>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img src="images/course1.png" alt="">
      <h3>Diploma in Theology <span class="degree">(Dip.Th)</span></h3>
      <div class="meta"><div>Duration: </div> <span>2 Years |</span> <div>Qualification:</div> <span>Inter</span></div>
      <p>Program focused on essential biblical knowledge and practical ministry training</p>
      <button>Apply Now</button>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <img src="images/course2.png" alt="">
      <h3>Certificate in Theology <span class="degree">(C.Th)</span></h3>
      <div class="meta"><div>Duration: </div> <span>1 Years |</span> <div>Qualification: </div> <span>SCC</span></div>
      <p>Introductory course that provides basic understanding of the Bible and Christian faith</p>
      <button>Apply Now</button>
    </div>

  </div>
</section>
<section class="faculty">

  <div class="teaching">Our Teaching Faculty</div>
  <p class="subtitle">
    Empowering students through biblical teaching, mentorship, and practical ministry training
  </p>

  <div class="faculty-container">

    <!-- Card -->
    <div class="faculty-card">
      <img src="images/faculty.png" alt="">
      <div class="faculty-info">
        <div>Mrs. Sajja Jyothi</div>
        <span>M.A.</span>
      </div>
    </div>

    <div class="faculty-card">
      <img src="images/faculty1.png" alt="">
      <div class="faculty-info">
        <div>Pastor A. Venkat Rao</div>
        <span>M.Div.</span>
      </div>
    </div>

    <div class="faculty-card">
      <img src="images/faculty2.png" alt="">
      <div class="faculty-info">
        <div>Pastor K. Ravindra Kumar</div>
        <span>B.Sc., M.Div.</span>
      </div>
    </div>

    <div class="faculty-card">
      <img src="images/faculty3.png" alt="">
      <div class="faculty-info">
        <div>Pastor D. Sathya Kishore</div>
        <span>M.Div.</span>
      </div>
    </div>

    <div class="faculty-card">
      <img src="images/faculty4.png" alt="">
      <div class="faculty-info">
        <div>Pastor R. Sheshagiri Rao</div>
        <span>B.Sc., M.Div.</span>
      </div>
    </div>

    <div class="faculty-card">
      <img src="images/faculty5.png" alt="">
      <div class="faculty-info">
        <div>K. Praise Jyothi</div>
        <span>B.Sc., M.Div.</span>
      </div>
    </div>

  </div>

</section>
<!-- Facilities Section -->
<section class="facilities">
  <div class="facilities-container">

    <!-- Left -->
    <div class="facilities-left">
      <h2>Facilities</h2>

      <div class="facility-grid">
        <div class="box">
          <img src="/images/icon1.png"><br><br><br>
         <div >Separate hostel for boys & girls</div>
        </div>
        <div class="box">
          <img src="/images/icon2.png"><br><br><br>
         <div >Spacious campus</div>
        </div>
        <div class="box">
          <img src="/images/icon3.png"><br><br><br>
         <div >A/C Classrooms</div>
        </div>
        <div class="box">
          <img src="/images/icon4.png"><br><br><br>
         <div >Bible-based Teaching</div>
        </div>
        <div class="box">
          <img src="/images/icon5.png"><br><br><br>
         <div >World Class Library</div>
        </div>
        <div class="box">
          <img src="/images/icon6.png"><br><br><br>
         <div >Experienced Faculty</div>
        </div>
      </div>
    </div>

    <!-- Right Image -->
    <div class="facilities-image">
      <img src="images/group1.png" alt="">
    </div>

  </div>
</section>


<!-- Chairman Section -->
<section class="chairman">
  <div class="chairman-container">

    <!-- Image -->
    <div class="chairman-img">
      <img src="images/chairman.png" alt="">
    </div>

    <!-- Content -->
    <div class="chairman-content">
      <div class="chairman-msg">Chairman’s Message</div>
      <p>
        At Messiah Bible College, our vision is not just to educate, but to transform 
        lives through the living Word of God. We believe that true ministry is built 
        on a strong spiritual foundation, sound biblical teaching, and a heart committed 
        to serving others.
      </p>

      <p>
        In today’s rapidly changing world, there is a great need for dedicated leaders 
        who can stand firm in faith, rightly handle the Word of Truth, and guide others 
        with wisdom and compassion.
      </p>

      <p>
        I warmly invite you to be part of this divine calling. May God guide you as you 
        step forward to serve His Kingdom.
      </p>

      <div class="with-bless">With blessings,</div>
      <span>Chairman<br>Messiah Bible College</span>
      <div>
        <img src="images/signature.png">
      </div>
    </div>

  </div>
</section>